.testimonial-container {
  height: auto;
}

.testimonial-title{
  text-align: center;
  font-size: 45px;
  font-weight: 550;
  font-family: 'Playfair Display', serif;
  margin: 50px;
}
.mySwiper{
  display: flex;
  justify-content: space-around;
 
}
.mySwiper .swiper-slide{
  width: 200px;
}
.swiper-pagination {
  display: none;
}
.testimonial-icon{
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
}
@media(max-width: 750px) {
  .testimonial-iconwidth {
    height: 12px;
    width: 80%;
  }
}